.List {
    text-align: center;
    font-size: 25px;
    width: 270px;
    border: 2px solid black ;
    padding: 5px;
    text-align: Left;
   background-color: #eef5d8;
    position: absolute;
    bottom: 10%;
    left:43%;
}

body {
    background-color: #B8D8D8;
}

p {
    display:inline;
    word-wrap: break-word;
}
